@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu&display=swap');
body {
  font-family: -apple-system, Roboto, 'Open Sans', Ubuntu, 'Helvetica Neue', sans-serif;
  margin: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
}
